/* You can easily change the colors to the site in this custom css file */


/* To change the colors of the navbar. In rgba the last value is the opacity value. */

nav{
    background: rgba(0,0,0,0.8);
}

/* to change the button color */

.colored-button{
    background: rgba(0,0,0,1) !important;
}

.circle-user{
    border-color: rgba(117, 112, 128,1)
}

.circle-user i {
    background: skyblue;
}

.navbar{
    background-color: rgba(255,255,255,0.7);
}

.navbar-nav li a{
    color:black
}




